head{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*{
    padding: 10px;
/* border: 5px solid black; */
margin: 20px;
border-radius:  30px;
}

Body{
    /* background-image:url("../Images/208780.jpg");*/
    background-image:url("../images/Rothko-Paintings-on-Paper.png");
    background-repeat:repeat;
    background-size: 1300px;
   /* background-size: cover;  Ensures the image covers the entire width */
    background-position: top center; /* Aligns the image to the left */
    


    color:chartreuse;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: azure;
}
/*orange*/
h1{
    color:chartreuse;
    font-size:20px;
    font-weight: lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* text-decoration: underline; */
}

#topid{
    color:blueviolet
}

.whitebackgroundbox{
    background-color: white;
    font-size: 20px;
}

.center-content {
    text-align: center; /* Centers the text and inline elements */
    margin: 20px auto; /* Adds some spacing and centers the container */
}

.container{
    position: relative;
background-color: red;
border: 5px solid black;
padding: 20px;
border-style: solid;
}
.header{
    background-color: blue;
    border: 5px solid black;
}
.leftmenu{
    background-color: yellow;
border: 5px solid black;
float:left;
width: 20%;
margin:auto
txt here?
}
.list-item {
    display: flex;
    align-items: center; /* Vertically centers the text and image */
    justify-content: center; /* Horizontally centers the content */
    gap: 10px; /* Adds space between the image and text */
    text-align: center; /* Ensures the text is center-aligned */
    border: 5px solid black;
}
.mainbody{
    background-color: brown;
border: 5px solid black;
float:left;
width: 60%;
margin:auto
}
.rightmenu{
    background-color: pink;
border: 5px solid black;
float:left;
width: 20%;
margin:auto
}
.footer{background-color: gray;
    border: 5px solid black;
    margin-top: auto;
    margin-bottom: 0%;
}